<ion-content>

  <!-- Botón de cerrar sesión (si aún lo necesitas) -->
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="logout()">
      <img src="../../assets/salida.png" alt="Log out" />
    </ion-fab-button>
  </ion-fab>

  <!-- Contenedor para el botón de "Ver Resultados" y título -->
  <div class="header-container">
    <!-- Botón "Ver Resultados" -->
    <ion-button class="result-button" (click)="goToScores()">Ver Resultados</ion-button>
    <!-- Título -->
    <h2>Elija la dificultad</h2>
  </div>

  <!-- Opciones de dificultad -->
  <div class="difficulty-container">
    <ion-button expand="block" class="facil" (click)="setDifficulty('facil')">Fácil</ion-button>
    <ion-button expand="block" class="medio" (click)="setDifficulty('medio')">Medio</ion-button>
    <ion-button expand="block" class="dificil" (click)="setDifficulty('dificil')">Difícil</ion-button>
  </div>

</ion-content>
